// .body-container{
//     width: 100%;
//     background: url(../images/bg.jpg) center/cover repeat;
//     background-size: contain;
//     background-position: 0 -200px;
//     object-fit: cover;
// }
header {
    width: 100%;
    height: 90vh;
    background: url(../images/bg.jpg) center/cover repeat ;
    object-fit: cover;  
    padding: 30px;
}
@font-face {
    font-family: "Inter-ExtraBold";
    src: url(../fonts/Inter-ExtraBold.ttf);
  }
@font-face {
    font-family: "Merriweather-Light";
    src: url(../fonts/Merriweather-Light.ttf);
  }
  
  .header-container {
    // background-color: rgba(0, 0, 255, 0.436);
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding-top: 180px;
    text-align: center;
    
    h1 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        color: white;
        margin-bottom: 40px;
        font-family: Inter-ExtraBold;
        font-size: 4em;
        width: 550px;
    }
        
    p {
        width: 95%;
        // border: 2px solid black;
        font-family: Merriweather-Light;
        font-size: 1.1em;
        font-style: italic;
        // text-align: center;
        // white-space: nowrap;
        margin-bottom: 20PX;
        color: white;   
    }
        
    i {
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 100%;
        margin: 50px auto;
        background: url(../images/icone_bas.png) center;
        background-size: 25px;
        background-repeat: no-repeat;
    }
  }

  @media screen and (max-width:700px) {
    header {
        padding: 60px;
    }
    h1 {
        font-size: 2.5em;
        width: 550px;
    }
    p{
        width: 100%;
        white-space: nowrap;
        margin-bottom: 20PX;
        color: white;   
    }
  }